In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
print('libraries imported successfully')

libraries imported successfully

In [2]:
path = 'C:/Users/Huligesh/Desktop/Abeyaantrix Internship/Dataset/'
file_name = '50_Startups.csv'
df = pd.read_csv(path + file_name)
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [9]:
# split data into ind and dep

In = df.iloc[:, :-1]
Dp = df.iloc[:, -1:]
print(In.shape, Dp.shape)

(50, 4) (50, 1)

In [4]:
# Data Exploration
Dp.isnull().sum()
print('in target column no missing values found')

in target column no missing values found

In [10]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [12]:
df.State.unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [14]:
# before applying aplit input column as numerical and catogorical

in_num = In.select_dtypes(include = np.number)
in_cat = In.select_dtypes(exclude = np.number)

In [15]:
print(in_num.head())
print(in_cat.head())

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42
        State
0    New York
1  California
2     Florida
3    New York
4     Florida

In [30]:
# apply one hot encoding onto categoricla  data

in_cat1 = pd.get_dummies(in_cat, drop_first = True)
in_cat1.head()

   State_Florida  State_New York
0              0               1
1              0               0
2              1               0
3              0               1
4              1               0

In [25]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
in_num.iloc[:,:] = ss.fit_transform(in_num)

In [27]:
# club numerial and categorical into one data

in_cleaned = pd.concat([in_num, in_cat1], axis = 1)
in_cleaned.head()

   R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0   2.016411        0.560753         2.153943              0               1
1   1.955860        1.082807         1.923600              0               0
2   1.754364       -0.728257         1.626528              1               0
3   1.554784       -0.096365         1.422210              0               1
4   1.504937       -1.079919         1.281528              1               0

In [38]:
from sklearn.model_selection import train_test_split
in_train, in_test,dp_train,dp_test = train_test_split(in_cleaned, Dp, test_size = 0.3, random_state = 0)

print(in_train.shape, dp_train.shape)
print(in_test.shape, dp_test.shape)

(35, 5) (35, 1)
(15, 5) (15, 1)

In [39]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(in_train, dp_train)

print('coefficeint=', LR.coef_)
print('intercept=', LR.intercept_)

coefficeint= [[35936.50524186   837.54523456  3754.69672889   463.02899154
    304.79957343]]
intercept= [110915.02711106]

In [41]:
# now the model hs been built (we have coeff and intercept)

Dp_predicted = LR.predict(in_test)
Dp_predicted

array([[104282.76472171],
       [132536.88499212],
       [133910.85007767],
       [ 72584.77489417],
       [179920.9276189 ],
       [114549.31079233],
       [ 66444.43261347],
       [ 98404.96840122],
       [114499.82808602],
       [169367.50639895],
       [ 96522.6253998 ],
       [ 88040.6718287 ],
       [110949.99405525],
       [ 90419.1897851 ],
       [128020.46250064]])

In [49]:
# how to check performance of multivariate regression model

from sklearn.metrics import mean_squared_error
print(mean_squared_error(LR.predict(in_test), dp_test))
print(mean_squared_error(LR.predict(in_train), dp_train))
print('-'*20)

#rmse
print(np.sqrt(mean_squared_error(LR.predict(in_test), dp_test)))
print(np.sqrt(mean_squared_error(LR.predict(in_train), dp_train)))

13719781918.951944
13832992997.14379
--------------------
117131.47279425776
117613.74493291075

In [46]:
from sklearn.metrics import r2_score
print(r2_score(LR.predict(in_test), dp_test))
print(r2_score(LR.predict(in_train), dp_train))

0.934615450563049
0.949090945364606