## KNN algorithm
1. select k value (no specific rule to choose the k value but most freqquent used k value is 5)
2. compute distance between each training sample with the test data with euclidean distance
    D(x,y) = sqrt(summation (xi - yi)^2 )
3. sort the distance measured in ascending order
4. vote for nearest neighbour based on k value
5. class having heighest votes is the outcome

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

path = r'C:\Users\Huligesh\Desktop\Abeyaantrix Internship\Dataset'
file = r'\Social_Network_Ads.csv'
df = pd.read_csv(path + file)
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
df.Purchased.unique()
print('as we have only two classes this is a binary classification')

as we have only two classes this is a binary classification

In [6]:
df.isnull().sum()
print('no missing value present in the data')

no missing value present in the data

In [7]:
# split data into input and output

x = df.iloc[:,:-1] # except purchased others are inputs
y = df.iloc[:,-1:] # purchased column is the target

In [8]:
x_in = x.iloc[:,-2:]
print('''as both the numerical column are having different unit of measure, 
      we will bring them into same scale by standrizing them using standard scalar''')

as both the numerical column are having different unit of measure,
      we will bring them into same scale by standrizing them using standard scalar

In [9]:
x_in

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [10]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
x_in.iloc[:,:] = ss.fit_transform(x_in)

In [11]:
#split data training and test set

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =  train_test_split(x_in, y, test_size = 0.20, random_state=0)

In [12]:
# Build classification model

from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=5, p=2)

# default distance measure is euclidean
knc.fit(x_train, y_train)

C:\Users\Huligesh\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [13]:
# Now test on the test data

y_pred = knc.predict(x_test) # this variable has prediction results on test input data
y_pred # predicted results

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1], dtype=int64)

In [14]:
y_test.head() # actual results

     Purchased
132          0
309          0
341          0
196          0
246          0

In [15]:
y_test.value_counts()

Purchased
0            58
1            22
dtype: int64

In [16]:
x_test.head()

          Age  EstimatedSalary
132 -0.731153         0.506764
309  0.032952        -0.579736
341 -0.253587         0.154386
196 -0.731153         0.271845
246 -0.253587        -0.579736

## confusion matrix
- it measues the confusion in the classes of the trained mode
- it basically tells the model how many wrong and how many correct preediction are made

In [17]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_pred, y_test)
cm

array([[55,  1],
       [ 3, 21]], dtype=int64)

In [68]:
accuracy = np.sum(cm[0,0] + cm[1,1]) /np.sum(cm)
print('accuracy=', accuracy*100)

accuracy= 95.0

In [69]:
# how to choose best value of the k
# try diffrent set of k values to do the prediction
# k value having higher  accuracy is the best value

acc = []
K = []
for k in range(1,11):
    knc = KNeighborsClassifier(n_neighbors=k, p=2)
    knc.fit(x_train, y_train)
    y_pred = knc.predict(x_test)
    cm = confusion_matrix(y_pred, y_test)
    accuracy = np.sum(cm[0,0] + cm[1,1]) /np.sum(cm)
    acc.append(accuracy*100)
    K.append(k)
    
print(K)
print(acc)
    
M = max(acc)
k_best = acc.index(M) + 2
print('Accuracy best = ',M)
print('Best value of k =',k_best)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[88.75, 88.75, 95.0, 95.0, 95.0, 95.0, 95.0, 95.0, 95.0, 95.0]
Accuracy best =  95.0
Best value of k = 4

C:\Users\Huligesh\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\Huligesh\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\Huligesh\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\Huligesh\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\Huligesh\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\Huligesh\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\Huligesh\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\Huligesh\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\Huligesh\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\Huligesh\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)